.addition {
  border: none;
  border-top: 2px solid @basic-green;
  padding: 0;
}

.addition__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: @black;
  margin-bottom: 34px;
}

.addition__list {
  .list-reset();
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-bottom: 14px;
}

.addition__item {
  margin-bottom: 20px;
}
