.additional-goods__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  margin: 24px 20px 13px;
  padding: 0 0 35px;
  border-bottom: 1px solid @border-special;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 53px;
    height: 2px;
    right: -20px;
    top: 15px;
    background-color: @basic-green;
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 67px;
    padding: 0;
    border: 0;
    margin-top: -71px;
    margin-bottom: 80px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      left: -67px;
      top: 22px;
      background-color: @basic-green;
    }

    &::after {
      width: 328px;
      right: -20px;
      top: 22px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    margin-left: 110px;
    margin-top: -69px;

    &::before {
      width: 70px;
      left: -110px;
      top: 23px;
    }

    &::after {
      width: 957px;
      right: -20px;
      top: 23px;
    }
  }
}

.additional-goods__wrapper {
  .mobile-wrapper();

  @media (min-width: @tablet-width) {
    .tablet-wrapper();
  }

  @media (min-width: @desktop-width) {
    .desktop-wrapper();
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.additional-goods__list {
  .list-reset();
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    margin-bottom: 69px;
    border: 1px solid @border-special;
  }

  @media (min-width: @desktop-width) {
    width: 896px;
    height: 288px;
    border-left: 0;
    border-right: 0;
    margin-bottom: 87px;
  }
}

.additional-goods__item {
  padding-bottom: 19px;
  margin-bottom: 12px;
  border-bottom: 1px solid @border-special;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 225px;
    grid-template-rows: repeat(2, min-content);
    padding: 0 38px;
    margin-bottom: 0;

    &:nth-child(2) {
      .additional-goods__info {
        margin-left: 66px;
      }
    }

    &:nth-child(3) {
      .additional-goods__info {
        margin-left: 84px;
      }
    }


    &:last-child {
      .additional-goods__info {
        margin-left: 7px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: auto 288px 244px;
    grid-template-rows: auto;
    column-gap: 38px;
    height: 72px;
    align-items: center;
    padding: 0;
    margin: 0;

    &:nth-child(2) {
      .additional-goods__info {
        margin-left: 0;
      }

      .additional-goods__price {
        margin-right: 10px;
      }
    }

    &:nth-child(3) {
      .additional-goods__info {
        margin-left: 0;
      }
    }

    &:last-child {
      .additional-goods__info {
        margin-left: 0;
      }
    }
  }
}

.additional-goods__item:last-child {
  @media (min-width: @tablet-width) {
    border: 0;
  }
}

.additional-goods__name {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @special-dark-grey-2;
  margin: 0 0 13px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 25px 0 27px;
  }

  @media (min-width: @desktop-width) {

    margin: 0;
  }
}

.additional-goods__info {
  display: flex;
  justify-content: space-between;
  line-height: 14px;
  color: @special-dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin: 30px 0 0;
  }

  @media (min-width: @desktop-width) {
    margin: 7px 0 0;
  }
}
