.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @white;
  background-color: @basic-green;
  border: none;

  &--submit,
  &--order {
    width: 280px;
    height: 40px;
  }
}
