.comments {
  border: none;
  border-top: 2px solid @basic-green;
  padding: 0;
  margin-bottom: 23px;
}

.comments__title {
  width: 141px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 37px;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-left: 70px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 110px;
  }
}

.comments__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  width: 280px;
  height: 150px;
  margin-left: 20px;
  border: 1px solid @special-grey-3;

  &::placeholder {
    padding-left: 15px;
    color: @special-dark-grey;
  }

  @media (min-width: @tablet-width) {
    margin-left: 70px;
    width: 631px;
    height: 174px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin-left: 110px;
  }
}
