.connection {
  border: none;
  padding: 0;
  margin: 0;
}

.connection__title {
  width: 207px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 35px;
  padding-left: 20px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 99px;
    height: 2px;
    background-color: @basic-green;
    right: -113px;
    top: 16px;
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: auto;
    padding: 0;
    margin-left: 69px;
    margin-bottom: 76px;

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: @basic-green;
      left: -69px;
      top: 21px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 145px;
      height: 2px;
      background-color: @basic-green;
      right: -187px;
      top: 21px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-left: 110px;

    &::before {
      width: 70px;
      left: -110px;
    }

    &::after {
      width: 778px;
      right: -818px;
    }
  }
}

.connection__wrapper {
  .mobile-wrapper();

  @media (min-width: @tablet-width) {
    max-width: 634px;
    margin: 0 65px 35px 68px;
  }

  @media (min-width: @desktop-width) {
    .desktop-wrapper();
    margin-bottom: 36px;
  }
}

.connection__list {
  .list-reset();
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 77px;
  }
}

.connection__item {
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
    justify-content: flex-start;

    &:first-child {
      margin-left: 3px;
    }
  }

  @media (min-width: @desktop-width) {
    &:first-child {
      margin-left: 0;

      label {
        margin-top: -1px;
      }
    }

    &:last-child {
      label {
        margin-top: -1px;
      }
    }
  }

  input {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    padding: 0;
    height: 45px;
    border: 1px solid @border-special;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
      height: 52px;
    }
  }
}

.connection__email {
  width: 219px;
  padding-left: 15px;


  &::placeholder {
    color: @special-dark-grey;
    padding-left: 15px;
  }

  &:focus {
    outline: none;
    border: 2px solid @special-dark-grey;

    .connection__email-icon line {
      stroke: red;
    }
  }

  @media (min-width: @tablet-width) {
    flex-grow: 1;
    height: 52px;
    margin-left: 18px;

    &::placeholder {
      padding-left: 21px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 486px;
    margin-left: 21px;

    &::placeholder {
      padding-left: 19px;
    }
  }
}

.connection__email-icon {
  position: absolute;
  top: 16px;
  right: 15px;

  @media (min-width: @tablet-width) {
    top: 17px;
    right: 18px;
  }

  @media (min-width: @desktop-width) {
    right: 20px;
  }
}


.connection__tel {
  width: 204px;
  padding-left: 15px;
  position: relative;

  &::placeholder {
    color: @special-dark-grey;
    padding-left: 16px;
  }

  &:focus {
    outline: none;
    border: 2px solid @special-dark-grey;
  }

  @media (min-width: @tablet-width) {
    flex-grow: 1;
    height: 52px;
    margin-left: 15px;

    &::placeholder {
      padding-left: 21px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 472px;

    &::placeholder {
      padding-left: 19px;
    }
  }
}

.connection__tel-icon {
  position: absolute;
  top: 13px;
  right: 13px;

  @media (min-width: @tablet-width) {
    top: 16px;
    right: 17px;
  }

  @media (min-width: @desktop-width) {
    top: 15px;
  }
}
