.contacts {
  display: grid;
  align-content: space-between;

  &--form,
  &--catalog {
    background-color: @basic-grey;
  }

  @media (min-width: @desktop-width) {
    position: relative;
  }
}

@media (min-width: @tablet-width) {
  .contacts__map {
    width: 768px;
    height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__map {
    width: 1440px;
    height: 400px;
  }
}

.contacts__wrapper {
  .mobile-wrapper();
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    .tablet-wrapper();
    justify-content: space-between;
    padding: 0 40px;
    margin-top: 32px;
    margin-bottom: 31px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    width: 570px;
    height: 201px;
    background-color: @white;
    top: 95px;
    left: 110px;
  }
}

.contacts__title {
  width: 140px;
  height: 58px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @black;
  margin: 28px 0;

  @media (min-width: @tablet-width) {
    width: 171px;
    font-size: 20px;
    line-height: 24px;
  }
}

.contacts__address {
  width: 140px;
  height: 83.5px;
  line-height: 20px;
  color: @special-dark-grey;
  margin: 28px 0 0;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 159px;
    height: 80px;
    text-align: end;
    margin-top: 25px;
    margin-right: 2px;
    margin-bottom: 26px;

    br {
      display: block;
    }
  }
}
