.features__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 27px 0 41px;
  border-top: 1px solid @border-special-2;
  border-bottom: 1px solid @border-special-2;
}

.features__list {
  .list-reset();
}

.features__item {
  padding-bottom: 25px;
  margin: 19px 0;
  border-bottom: 1px solid @border-special-2;
}

.features__name {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.features__info {
  font-size: 12px;
  line-height: 16px;
  color: @special-dark-grey;
}

.features__subtitle {
  font-size: 12px;
  line-height: 16px;
  color: @special-dark-grey;
  margin: 0 0 21px;
}

.button-show-all {
  width: 280px;
  height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special-dark-grey;
  background-color: @basic-grey;
  border: none;
}
