.gift {
  background: @basic-green url("../img/gift-background-mobile.jpg") no-repeat;
  padding: 58px 0 43px;
  margin-bottom: 35px;
}

.gift__description {
  font-size: 16px;
  line-height: 20px;
  color: @white;
}
