.guide {
  margin: 7px 0 42px;
}

.guide__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: @black;
  margin-top: 0;
  margin-bottom: 38px;
}

.guide__list {
  .list-reset();
}

.guide__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.guide__container-pic {
  background-color: @basic-green;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.guide__description {
  color: @special-dark-grey;
}
