.info {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-dark-grey;
  border-bottom: 1px solid @border-basic;
}

.info__list {
  .list-reset();
  padding-bottom: 10px;
  margin-bottom: 22px;
}

.info__name,
.info__weight,
.info__age {
  height: 46px;
}

.info__item {
  margin-bottom: 14px;
}
