.main-nav__list {
  .list-reset();
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }
}

.main-nav__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
  display: block;
  padding: 21px 0 23px;
  border-bottom: 1px solid @border-special-2;

  @media (min-width: @tablet-width) {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    border: 0;
    padding-top: 0;

    &--current {
      padding-bottom: 7px;
      border-bottom: 2px solid @basic-green;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: @desktop-width) {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    &--white {
      color: @white;
    }

    &--different {
      padding-bottom: 7px;
      border-bottom: 2px solid @white;
    }
  }
}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    width: 440px;
    margin-left: auto;
    margin-top: 42px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 478px;
    margin-left: auto;
    margin-top: 70px;
  }
}


.main-nav--closed .main-nav__toggle {
  position: absolute;
  top: 23px;
  right: 23px;
  width: 24px;
  height: 18px;
  padding: 0;
  border: 0;
  background: @white url("../img/icons/hamburger-menu-icon.svg");
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: 66px;
    background-color: @border-basic;
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav__item:first-child {
    border-top: 1px solid @border-special-2;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }
}


.main-nav--opened .main-nav__toggle {
  position: absolute;
  top: 23px;
  right: 23px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 0;
  background: @white url("../img/icons/close-menu-icon.svg");
}
