.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 11px 0 17px;
}

.main-nav__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
}
