.page-footer {
  background-color: @basic-grey;
  padding: 39px 0 22px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.page-footer__wrapper {
  .mobile-wrapper();
  text-align: center;

  @media (min-width: @tablet-width) {
    .tablet-wrapper();
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    .desktop-wrapper();
  }
}

.page-footer__logo {
  :hover {
    opacity: 0.8;
  }

  :active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    margin-top: 7px;
    margin-right: 156px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 9px;
    margin-right: 413px;
  }
}
