.page-footer {
  background-color: @basic-grey;
  padding: 22px 0 39px;
}

.copyright span {
  font-size: 16px;
  color: @special-dark-grey;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 21px;
  border-top: 1px solid @border-basic;
  border-bottom: 1px solid @border-basic;
  margin: 32px 0 22px;
}

.social__item {
  margin-right: 36px;
}
