.programm {
  display: grid;
  grid-template-columns: 69px auto;
  grid-template-rows: repeat(3, min-content);
  background-color: @basic-grey;
  height: 266px;
  padding: 21px 20px 18px 20px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    height: 372px;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    height: 374px;
    margin-bottom: 73px;
  }
}

.programm__slim-pic {
  margin-left: 2px;
}

.programm__weight-pic {
  margin-left: -7px;
  margin-top: 3px;
}

.programm__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @black;
  margin: 9px 0 29px 2px;


  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 24px;
  }
}


.programm__description {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-bottom: 22px;
  margin-top: 0;
  margin-bottom: 19px;
  color: @special-dark-grey;
  border-bottom: 1px solid @border-basic;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: @black;
    padding: 0;
    margin: 0 0 52px;
  }
}

.programm__link {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @black;
  margin-bottom: 22px;

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 12px;
    left: 101px;
    top: 3px;
    background-image: url("../img/icons/arrow-right-short-icon.svg");
  }

  &:hover::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 12px;
    left: 101px;
    top: 3px;
    background-image: url("../img/icons/arrow-right-long-icon.svg");
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;

    &::after {
      left: 133px;
      top: 9px;
    }

    &:hover::after {
      left: 133px;
      top: 9px;
    }
  }
}


@media (min-width: @tablet-width) {
  .programm {
    grid-template-columns: 377px 1fr;
    grid-template-rows: repeat(3, min-content);
    padding: 77px 28px 0 53px;
  }

  .programm picture {
    height: 148px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .programm__slim-pic {
    width: 200px;
    height: 211px;
    margin-left: 16px;
    margin-top: 3px;
  }

  .programm__weight-pic {
    width: 268px;
    height: 200px;
    margin-top: 13px;
    margin-left: -18px;
  }

  .programm__description {
    grid-column-start: 1;
    grid-column-end: 2;
    border: 0;
  }

  .programm__link {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

@media (min-width: @desktop-width) {
  .programm {
    height: auto;
    grid-template-columns: 162px auto;
    padding: 41px 33px 56px 53px;
  }

  .programm picture {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .programm__title {
    margin-top: 38px;
  }

  .programm__slim-pic {
    width: 100px;
    height: 106px;
    margin: 2px 0 40px;
  }

  .programm__weight-pic {
    width: 134px;
    height: 100px;
    margin: 8px 0 40px -20px;
  }

  .programm__description {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 0 27px;
  }

  .programm__link {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0;
  }
}
