.programm {
  background-color: @basic-grey;
  padding-top: 30px;
  padding-bottom: 22px;
  margin-bottom: 20px;
}

.programm__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @black;
  margin-top: 0;
  margin-bottom: 29px;
}

.programm__description {
  padding-bottom: 23px;
  margin-bottom: 15px;
  color: @special-dark-grey;
  border-bottom: 1px solid @border-basic;
}

.programm__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @black;
  margin-bottom: 22px;
}
