// .programm-selection {
//   border-top: 1px solid @border-basic;
//   border-bottom: 1px solid @border-basic;
// }

.programm-selection__wrapper {
  .mobile-wrapper();

  @media (min-width: @tablet-width) {
    max-width: 630px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    .desktop-wrapper();
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, min-content);
    column-gap: 80px;
  }
}

.programm-selection__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: @black;
  margin-top: 27px;
  margin-bottom: 37px;
}

.programm-selection__subtitle {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @black;
  margin-bottom: 27px;

  @media (min-width: @desktop-width) {
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
