.promo__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    .tablet-wrapper();
    align-items: flex-start;
    padding-left: 87px;
  }

  @media (min-width: @desktop-width) {
    .desktop-wrapper();
    align-items: flex-start;
    padding-left: 80px;
    margin-bottom: 80px;

    &::before {
      content: url("../img/index-background-desktop-cat-photo.jpg");
      position: absolute;
      top: 0;
      right: 0;
      z-index: -2;
    }

    &::after {
      content: "";
      position: absolute;
      width: 720px;
      height: 694px;
      top: 0;
      right: 0;
      background-color: @basic-green;
      opacity: 0.85;
      z-index: -1;
    }
  }
}

.promo__description {
  height: 302px;
  background: @background-promo url("../img/index-background-mobile-cat-photo.jpg");
  margin-bottom: 138px;
  text-align: center;
  position: relative;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 302px;
    left: 0;
    background-color: @background-promo;
    z-index: -1;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    background: none;
    text-align: start;
    height: 181px;
    margin-bottom: 49px;

    &::before {
      content: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 51px;
  }
}

.promo__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: @white;
  margin: 27px 0 25px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: @black;
    margin: 0 0 41px;
  }
}

.promo__subtitle {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @white;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: @black;
    margin-left: 1px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.promo__pic {
  @media (min-width: @tablet-width) {
    position: absolute;
    left: -87px;
    top: 201px;
    width: 709px;
    height: 609px;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    width: 552px;
    height: 499px;
    top: -82px;
    left: 368px;
  }
}


.promo__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @white;
  background-color: @basic-green;
  border: none;
  margin-bottom: 22px;

  @media (max-width: @mobile-width-only) {
    margin-left: 20px;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 244px;
    height: 54px;
    margin-bottom: 526px;
    margin-left: -5px;
    z-index: 2;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0.5px;
    margin-bottom: 185px;
  }
}
