.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    .tablet-wrapper();
    align-items: flex-start;
    padding-left: 87px;
  }

  @media (min-width: @desktop-width) {
    .desktop-wrapper();
    align-items: flex-start;
    padding-left: 80px;
    margin-bottom: 80px;
  }
}

.promo__description {
  height: 302px;
  background-color: @background-promo;
  margin-bottom: 138px;
  text-align: center;

  @media (min-width: @tablet-width) {
    position: relative;
    background-color: @white;
    text-align: start;
    height: 181px;
    margin-bottom: 49px;
  }
}

.promo__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: @white;
  margin: 0 0 25px;
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: @black;
    margin: 0 0 41px;
  }
}

.promo__subtitle {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @white;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: @black;
  }
}

.promo__pic {
  @media (min-width: @tablet-width) {
    position: absolute;
    left: -87px;
    top: 221px;
    width: 709px;
    height: 609px;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    width: 522px;
    height: 499px;
    top: -20px;
    left: 368px;
  }
}


.promo__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @white;
  background-color: @basic-green;
  border: none;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 244px;
    height: 54px;
    margin-bottom: 526px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 267px;
  }
}
