.social__list {
  .list-reset();
  display: flex;
  flex-wrap: wrap;

  padding: 20px 0 18px;
  border-top: 1px solid @border-basic;
  border-bottom: 1px solid @border-basic;
  margin: 28px 0 22px;
  padding-left: 73px;

  @media (min-width: @tablet-width) {
    width: 125px;
    justify-content: space-between;
    border: 0;
    padding: 0;
    margin: 58px 135px 61px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 60px 390px 61px 0;
  }
}

.social__item {
  margin-right: 36px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.social__link {
  display: flex;
  height: 22px;
  align-items: center;
}

.social__vk-icon {
  fill: @special-dark-grey-3;

  .social__list a[href]:hover & {
    fill: @basic-green;
  }

  .social__list a[href]:active & {
    opacity: 0.5;
  }
}

.social__instagram-icon {
  fill: @special-dark-grey-3;

  .social__list a[href]:hover & {
    fill: @basic-green;
  }

  .social__list a[href]:active & {
    opacity: 0.5;
  }
}

.social__facebook-icon {
  stroke: @special-dark-grey-3;

  .social__list a[href]:hover & {
    stroke: @basic-green;
  }

  .social__list a[href]:active & {
    opacity: 0.5;
  }
}


@media (min-width: @tablet-width) {
  .social__vk-icon {
    width: 30px;
    height: 22px;
  }

  .social__instagram-icon {
    width: 23px;
    height: 23px;
  }

  .social__facebook-icon {
    width: 18px;
    height: 33px;
  }
}
