.stats {
  background-color: @special-grey;
  padding: 27px 0 25px;
}

.stats__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: @black;
  margin-top: 0;
  margin-bottom: 33px;
}

.stats__number {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: @black;
  margin-bottom: 9px;
  // border: 1px solid @border-special;
}

.stats__intro {
  margin-bottom: 25px;
  color: @special-dark-grey;
}

.stats__description {
  font-size: 12px;
  line-height: 12px;
  color: @special-dark-grey;
  margin: 0;
}

.stats__cost,
.stats__amount {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
}

.stats__before,
.stats__after {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
}

.stats__item {
  margin-bottom: 10px;
}

.stats__item:last-child {
  display: flex;
  margin-bottom: 42px;
}

.stats__amount {
  margin-left: 2px;
}

.stats__slider {
  margin-top: 23px;
}
