.stats {
  background-color: @special-grey;
  padding: 27px 0 26px;

  @media (min-width: @tablet-width) {
    padding: 0;
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-top: 185px;
    background-color: @basic-grey;
  }
}

.stats__wrapper {
  .mobile-wrapper();


  @media (min-width: @tablet-width) {
    .tablet-wrapper();
    height: 1038px;
  }

  @media (min-width: @desktop-width) {
    .desktop-wrapper();
    position: relative;
    height: auto;
    display: grid;
    grid-template-columns: 436px 1fr;
    grid-template-rows: repeat(2, auto);
    column-gap: 134px;
    padding-bottom: 46px;
  }
}

.stats__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: @black;
  margin-top: 0;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }
}

.stats__intro {
  margin-bottom: 40px;
  color: @special-dark-grey;

  @media (min-width: @tablet-width) {
    width: 700px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 69px;
  }
}

.stats__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;

  @media (min-width: @tablet-width) {
    justify-content: flex-start;
    margin-bottom: 33px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.stats__item {
  width: 124px;
  text-align: center;
  margin-bottom: 18px;

  @media (min-width: @tablet-width) {
    width: 162px;
    margin-right: 42px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 55px;
  }
}

.stats__item:last-child {

  width: 190px;
  display: flex;
  margin-left: 46px;
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    width: 174px;
    height: 49px;
    align-content: space-between;
    display: grid;
    text-align: end;
    margin-left: auto;
    margin-top: -4px;
    margin-right: 0;
  }

  @media (min-width: @desktop-width) {
    width: 327px;
    display: flex;
    margin: 0;
  }
}

.stats__number {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: @black;
  text-transform: uppercase;
  margin-bottom: 9px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 10px;
  }
}

.stats__item:first-child .stats__number::before {
  content: "";
  position: absolute;
  width: 124px;
  height: 56px;
  top: -14px;
  left: 0;
  border: 1px solid @border-special;

  @media (min-width: @tablet-width) {
    top: -16px;
    width: 162px;
    height: 72px;
  }
}

.stats__item:first-child .stats__number::after {
  content: "";
  position: absolute;
  width: 87px;
  height: 19px;
  top: 35px;
  left: 18px;
  background-color: @special-grey;

  @media (min-width: @tablet-width) {
    width: 114px;
    height: 30px;
    left: 24px;
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    background-color: @basic-grey;
  }
}

.stats__item:nth-child(2) .stats__number::before {
  content: "";
  position: absolute;
  width: 124px;
  height: 56px;
  top: -14px;
  left: 0;
  border: 1px solid @border-special;

  @media (min-width: @tablet-width) {
    top: -16px;
    width: 162px;
    height: 72px;
  }
}

.stats__item:nth-child(2) .stats__number::after {
  content: "";
  position: absolute;
  width: 87px;
  height: 19px;
  top: 35px;
  left: 18px;
  background-color: @special-grey;

  @media (min-width: @tablet-width) {
    width: 142px;
    height: 30px;
    left: 10px;
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    background-color: @basic-grey;
  }
}


.stats__description {
  position: relative;
  font-size: 12px;
  line-height: 12px;
  color: @special-dark-grey;
  margin: 0;
  z-index: 2;

  @media (min-width: @tablet-width) {
    width: auto;
    text-align: center;
    font-size: 14px;
    line-height: 14px;

    br {
      display: none;
    }
  }
}

.stats__cost,
.stats__amount {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}

.stats__before,
.stats__after {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted rgba(@black, 0.24);
    z-index: 2;
  }
}

.stats__amount {
  margin-left: 4px;


  @media (min-width: @desktop-width) {
    margin-left: 42px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 63px;
  }
}

.stats__fat-cat {
  margin-left: -20px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.stats__fat-slim-cat {

  display: none;

  @media (min-width: @tablet-width) {
    position: relative;
    display: block;
    z-index: 5;
  }
}


.stats__slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 228px;
  height: 40px;
  padding: 0 14px 0 16px;
  margin-left: 27px;
  margin-top: 18px;
  position: relative;
  // top: -71px;


  @media (min-width: @tablet-width) {
    padding: 0 69.5px 0 67px;
    margin: 0;
    width: auto;
    top: -71px;

    &::before {
      content: "";
      position: absolute;
      width: 768px;
      height: 462px;
      background-color: @special-grey;
      top: -358px;
      left: -30px;
      z-index: 1;
    }
  }
}

.stats__scale {
  display: flex;
  align-items: center;
  height: 14px;
  width: 84px;
  background-color: @white;
  border: 1px solid @border-special;
  border-radius: 6px;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 428px;
    height: 6px;
    background-color: @special-grey-2;
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      top: -15px;
      left: 200px;
      width: 32px;
      height: 32px;
      padding: 0;
      border: 12px solid;
      border-color: @white;
      background-color: @basic-green;
      border-radius: 50%;
      box-shadow: 0 0 2px 0 @border-special, 0 1px 3px rgba((@black), 0.16);
      cursor: pointer;
    }
  }
}

.stats__bar {
  height: 6px;
  width: 35px;
  background-color: @basic-green;
  border-radius: 6px;
  margin-left: 6px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .stats__title {
    position: absolute;
    top: -137px;
  }

  .stats__intro {
    width: 100%;
    height: 96px;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 70px;
    margin-bottom: 84px;
  }

  .stats__list {
    width: 100%;
    align-content: flex-start;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .stats__slider {
    z-index: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: flex-end;
    margin-bottom: 20px;
    margin-left: 73px;
    width: 584px;
    padding: 0 7px 0 5px;

    top: 0;

    &::before {
      content: none;
    }
  }

  .stats__fat-slim-cat {
    position: absolute;
    width: 690px;
    height: 656px;
    top: -195px;
    right: -40px;
  }
}
