// Colors

@black: #000000;
@white: #ffffff;
@background-promo: rgba(104, 183, 56, 0.85);
@basic-green: #68B738;
@border-basic: #D9D9D9;
@border-special: #CDCDCD;
@border-special-2: #EBEBEB;
@basic-grey: #F2F2F2;
@special-grey: #EAEAEA;
@special-dark-grey: #444444;
@special-dark-grey-2: #222222;
